*{
    margin: 0;
    font-family: Arial;
    border: border-box ;
}
.navbar{
    height: 60px;
    background-color: #1b1b24;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
  background-image: url(amazon_logo.png);
  height: 50px;
  width: 100%;
  background-size: cover;
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.p1{
   color: #cccccc;
   font-size: 0.9rem;
   margin-left: 20px;
}
.p2{
font-size: 1rem;
}
.loc-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color: rgb(247, 188, 27);
}
.search{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #1b1b24;
    border: none;

}
.lang{
    display: flex;
}
.list{
    background-color: transparent;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
}
.first{
    font-size: 0.7rem;
}
.second{
    font-size: 0.7rem;
}
third{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart{
    display: flex;
}
.cart-icon{
    font-size: 30px;
}
.fourth{
   padding-top: 17px;
}
.panel{
    background-color: #3b3b52;
    height: 39px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
     display: flex;
    align-items: center;
}
.panel11{
    display: flex;
    align-items: center;
     width: 90%;
    font-size: 0.85rem;
    
    
    
}
.panel11 p{
    display: inline;
    margin-left: 15px;
    font-weight: 500;
}
.hero-section{
    background-image: url(main\ img.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-mess{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 300px;
}
